## Título  clase_ternaria

## Autor: José Chelquer
## Fecha de última modificación: 22/10/2024
## Descripción:/
Crea la clase ternaria

## Parámetros

## Input

< Archivos de datos (csv.gz) con sus paths que van a consumirse por el job>

In [1]:

dataset_path = '~/buckets/b1/datasets'
dataset_file = 'competencia_02_crudo.csv'

## Output

In [2]:
output_path = dataset_path
output_file = 'competencia_02.csv'

In [3]:
## Procesos

### Paquetes necesarios

In [4]:
import os

## Código del proceso

In [5]:
import pandas as pd

In [6]:
# leer el dataset
file_path = os.path.join(dataset_path, dataset_file)
# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(df.head())

   numero_de_cliente  foto_mes  active_quarter  cliente_vip  internet  \
0          249221109    201901               1            0         1
1          249221468    201901               1            0         1
2          249223005    201901               1            0         1
3          249228180    201901               1            0         1
4          249232117    201901               1            0         1

   cliente_edad  cliente_antiguedad  mrentabilidad  mrentabilidad_annual  \
0            59                 276        7597.55              47433.58
1            51                  13         738.16               -325.09
2            46                 178        1014.31               9434.15
3            64                 296        1028.33               6873.80
4            77                 349       11617.61              43291.55

   mcomisiones  ...  Visa_madelantodolares  Visa_fultimo_cierre  Visa_mpagado  \
0      5654.59  ...                    0.0                  1.0           0.0
1       491.31  ...                    0.0                  1.0           0.0
2       417.36  ...                    0.0                  1.0           0.0
3      1129.43  ...                    0.0                  1.0           0.0
4     10726.08  ...                    0.0                  1.0           0.0

   Visa_mpagospesos  Visa_mpagosdolares  Visa_fechaalta  Visa_mconsumototal  \
0         -44919.57                3.23          7136.0            24336.99
1         -30184.75               15.24           393.0            16345.79
2          -3730.14                0.00          2755.0             1181.65
3         -13196.25                0.00          8194.0             1892.04
4         -22073.65                0.00          7876.0            21902.85

   Visa_cconsumos  Visa_cadelantosefectivo  Visa_mpagominimo
0            13.0                      0.0           1466.25
1             8.0                      0.0           1548.36
2             3.0                      0.0           3917.82
3             1.0                      0.0           2017.56
4             6.0                      0.0            891.48

[5 rows x 154 columns]

In [7]:
df.shape

(4735593, 154)

In [8]:
# Dado un mes en formato aaaamm y una cantidad de meses
# devuelve el mes a distancia meses de mes
def sig_mes(mes, meses):
  aaaa=mes//100
  mm=mes%100+meses
  aExtra=(mm-1)//12
  mm=mm-12*aExtra
  return (aaaa+aExtra)*100+mm

In [10]:
df["cli_mes"]=df["numero_de_cliente"].astype(str)+df["foto_mes"].astype(str)
df["cli_mesMas1"]=df["numero_de_cliente"].astype(str)+(df["foto_mes"]+1).astype(str)
df["cli_mesMas2"]=df["numero_de_cliente"].astype(str)+(df["foto_mes"]+2).astype(str)
df[["cli_mes", "cli_mesMas1", "cli_mesMas2"]].head()

           cli_mes      cli_mesMas1      cli_mesMas2
0  249221109201901  249221109201902  249221109201903
1  249221468201901  249221468201902  249221468201903
2  249223005201901  249223005201902  249223005201903
3  249228180201901  249228180201902  249228180201903
4  249232117201901  249232117201902  249232117201903

In [ ]:
df1=df['cli_mes']   #sólo las columnas del cliente
# Realiza la unión entre df y df1
resultado = df.merge(df1, left_on='cli_mesMas1', right_on='cli_mes', how='left', indicator=True)
df['existe1'] = resultado['_merge'] == 'both'
resultado = df.merge(df1, left_on='cli_mesMas2', right_on='cli_mes', how='left', indicator=True)
df['existe2'] = resultado['_merge'] == 'both'

In [ ]:
df[["numero_de_cliente", "foto_mes", "existe1", "existe2"]]

In [ ]:
df[ "clase_ternaria"]="CONTINUA"          #default
df.loc[df["existe2"]==False, "clase_ternaria"]="BAJA+2"
df.loc[df["existe1"]==False, "clase_ternaria"]="BAJA+1"
df.loc[df["existe2"]==True, "clase_ternaria"]="CONTINUA"

In [ ]:
# Eliminar los campos creados
df = df.drop(columns=['cli_mes', 'cli_mesMas1', 'cli_mesMas2', 'existe1', 'existe2'])

In [ ]:
ruta_nuevo_archivo = os.path.join(output_path, output_file)
# Guarda el DataFrame en el nuevo archivo
df.to_csv(ruta_nuevo_archivo, index=False)
print(f"El archivo ha sido guardado en: {ruta_nuevo_archivo}")